/* Write your CSS here */
.appItem {
  list-style: none;
}
.appLogo {
  width: 70px;
}
.appNames {
  font-family: 'Bree Serif';
  font-weight: 500;
}
.appItem {
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
@media screen and (max-width: 768px) {
  .appLogo {
    width: 34px;
  }
  .appNames {
    font-size: 15px;
  }
  .appItem {
    margin: 10px;
    padding: 1;
    min-width: 120px;
  }
}
